@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


body{
        background-color: beige;
}
img{
max-width: 100%;
object-fit: cover;

}

.hero{
    position: relative;
height: 85vh;
overflow: hidden;

&-Content{
    position: absolute;
    left: 100px;
    top: 200px;
    max-width: 370px;
    transform: translateY(-50%);

    h2{
       margin-bottom:18px ;
       font-size: 40px;  
       color: white;
       text-shadow: 2px 2px 2px rgb(68, 68, 68);
    }
    p{
        color: white;
        font-size: 20px;
        text-shadow: 2px 2px 2px rgb(68, 68, 68);
    }

    

}
}

section{
    margin: 40px 0;
}

.container{
max-width: 1000px;
    margin: auto;
}

// Spcial Dishes CSS

.special-dishes{

    &-content{
max-width: 400px;
margin: auto;
margin-bottom: 33px;
    }
    h2{
        margin-bottom: 12px;
    }
    &-list{
        li{
            width: 200px;
            list-style: none;
        }
    }
}

.text-center{

    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
}

.flex{
    display: flex;

    &.flex-wrap{
        flex-wrap: wrap;
    }
    &.flex-center{
        align-items: center;
        justify-content: center;
    }
}

.gap{
    gap: 50px;
}


.br{
    border-radius: 10px;
}
.filterd-dishes {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
  
      li {
        background-color: #ffb902;
        color: white;
        padding: 12px 30px;
        border-radius: 30px;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        font-weight: bold;
        transition: all ease 0.1s;
        list-style: none;
  
        &.active {
          background-color: black;
        }
  
        &:hover {
          background-color: black;
        }
      }
    }
  }

  .alert {
    border: 2px solid #ff4848;
    border-radius: 10px;
    height: 20vh;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    h3 {
      color: red;
      margin: 0 0 10px 0;
    }
    
    h4{
      margin: 0;
    }
  }


.border-radius{
    border-radius:10px ;
}

  .filtered-dishes-results {
    margin-top: 60px;
  
      h5 {
        margin-top: 18px;
      }
  
      li {
        width: 19%;
        list-style: none;
        text-align: center;
      }
  }

    .alert {
        border: 2px solid #ff4848;
        border-radius: 10px;
        height: 20vh;
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3 {
            color: red;
            margin: 0 0 10px 0;
          }
          
          h4{
            margin: 0;
          }
        }
        