@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}


body{
        background-color: beige;
}
img{
max-width: 100%;
object-fit: cover;

}

.hero{
    position: relative;
height: 85vh;
overflow: hidden;

&-Content{
    position: absolute;
    left: 100px;
    top: 200px;
    max-width: 370px;
    transform: translateY(-50%);

    h2{
       margin-bottom:18px ;
       font-size: 40px;  
       color: white;
       text-shadow: 2px 2px 2px rgb(68, 68, 68);
    }
    p{
        color: white;
        font-size: 20px;
        text-shadow: 2px 2px 2px rgb(68, 68, 68);
    }

    

}
}

section{
    margin: 40px 0;
}

.container{
max-width: 1000px;
    margin: auto;
}

// Spcial Dishes CSS

.special-dishes{

    &-content{
max-width: 400px;
margin: auto;
margin-bottom: 33px;
    }
    h2{
        margin-bottom: 12px;
    }
    &-list{
        li{
            width: 200px;
            list-style: none;
            text-decoration: none;
        }
    }
}

.text-center{

    text-align: center;
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
}

.flex{
    display: flex;

    &.flex-wrap{
        flex-wrap: wrap;
    }
    &.flex-center{
        align-items: center;
        justify-content: center;
    }
}

.gap{
    gap: 50px;
}


.br{
    border-radius: 10px;
}
.filterd-dishes {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;
  
      li {
        background-color: #ffb902;
        color: white;
        padding: 12px 30px;
        border-radius: 30px;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        font-weight: bold;
        transition: all ease 0.1s;
        list-style: none;
  
        &.active {
          background-color: black;
        }
  
        &:hover {
          background-color: black;
        }
      }
    }
  }

  .alert {
    border: 2px solid #ff4848;
    border-radius: 10px;
    height: 20vh;
    width: 100%;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    h3 {
      color: red;
      margin: 0 0 10px 0;
    }
    
    h4{
      margin: 0;
    }
  }


.border-radius{
    border-radius:10px ;
}

  .filtered-dishes-results {
    margin-top: 60px;
  
      h5 {
        margin-top: 18px;
      }
  
      li {
        width: 19%;
        list-style: none;
        text-align: center;
      }
  }

    .alert {
        border: 2px solid #ff4848;
        border-radius: 10px;
        height: 20vh;
        width: 100%;
        margin-bottom: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3 {
            color: red;
            margin: 0 0 10px 0;
          }
          
          h4{
            margin: 0;
            
          }
        }
        .pagination {
            justify-content: center;
            margin: 50px 0 0;
          
            li {
              width: 30px;
              height: 30px;
              border: 1px solid gray;
              margin: 0 5px;
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              padding: 8px;
              transition: all ease 0.3s;
          
               &:hover {
                background-color: #ffb902;
                border-color: #ffb902;
              }
            }
          }
          header {
            position: absolute;
            z-index: 1;
            width: 100%;
            padding: 0px 50px;
            background-color: rgba(73,69,48,0.5);
          
            .logo {
              background-color: #ffb902;
              color: rgb(34, 33, 33);
              width: 70px;
              height: 70px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              font-weight: bold;
              border: 5px solid rgba(255,255,255, 0.5);
            }
          
            nav {
              li{
                margin: 0 10px;
          
                &:hover {
                  a{
                    color: #ff4848;
                  }
                }
              }
              a {
                color: white;
                font-size: 18px;
                font-weight: 500;
                padding: 12px;
                transition: color ease 0.3s;
              }
            }
          }

          .headerul{
            display: flex;
            justify-content: right;
            list-style: none;
          }

         .listStyle{
          list-style: none;
          text-decoration: none;
          color: black;
         }

         .popup {
          position: fixed;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 99;
          background-color: rgba(0,0,0, 0.8);
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          
        
          h2,p {
            color: rgb(0, 0, 0);
          
          }
        
          p {
            font-size: 12px;
            margin-bottom: 22px;
            height: 200px;
            overflow-y: scroll;
          }
        
          &-content {
            background-color: rgb(236, 236, 236);
            width: 800px;
            height: 700px;
            border-radius: 5px;
            padding: 20px;
        
          }
        
          &-close {
            position: absolute;
            top: 30rem;
            color: black;
            font-weight: 600;
            font-size: 14px;
            cursor: pointer;
            transition: all ease 0.3s;
        
            &:hover {
              color: #ff4848;
            }
          }
          
         
  button {
    border: none;
    outline: none;
    background-color: #ffb902;
    color: black;
    padding: 12px 22px;
    border-radius: 6px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 83px;
    transition: all ease 0.3s;

    &:hover {
      background-color: #000000;
      color: white;
    }
  }
         }

// Popup CSS

.popup {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0,0,0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  h2,p {
    color: rgb(0, 0, 0);
  }

  p {
    font-size: 14px;
    margin-bottom: 22px;
    height: 200px;
    overflow-y: scroll;

    line-height: 20px;
  }

  &-content {
    background-color: rgb(236, 236, 236);
    width: 800px;
    height: 700px;
    border-radius: 5px;
    padding: 20px;
  }

  &-close {
    position: absolute;
    top: 25px;
    right: 25px;
    color: rgb(10, 10, 10);
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    transition: all ease 0.3s;

    &:hover {
      color: #ff4848;
    }
  }

  button {
      border: none;
      outline: none;
      background-color: #ffb902;
      color: black;
      padding: 12px 22px;
      border-radius: 6px;
      font-family: 'Montserrat Alternates', sans-serif;
      font-size: 18px;
      cursor: pointer;
      font-weight: bold;
      margin-top: 24px;
      transition: all ease 0.3s;

      &:hover {
        background-color: #000000;
      }
    }

    .popup-header {
      height: 30vh;
      overflow: hidden;
      margin-bottom: 32px;
      position: relative;

      &-category {
        background: white;
        color: black;
        margin: 0;
        padding: 12px 24px;
        border-radius: 6px;
        position: absolute;
        bottom: 25px;
        left: 25px;
      }

      img{
        width: 100%;
        height: 100%;
      }
    }
}

.dish-ingredients {
  margin-bottom: 22px;
  margin-bottom: 22px;
    display: flex;
    list-style: none;
  li{
    background: rgb(0, 0, 0);
    color: white;
    padding: 8px 12px;
    border-radius: 32px;
    font-size: 14px;
    margin-right: 12px;
  }

}

// Add To Cart


.add-to-cart-wrapper{
  width: 100px;

  position: fixed;
  top: 100px;
  right: 0px;
  display: flex;
  background-color: white;
  box-shadow:  2px 2px 12px rgba(0,0,0, 0.8);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
 
.add-to-cart-item{
  img{
  width: 100%;
  height: 60px;
  object-fit: cover;
 
}

}

}
.addcart {
  margin: 5px 0px;
  padding: 5px 0;
  border-bottom: 2px dashed black;
}